.card {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
}

.card div {
  margin-top: 10px;
}
