#container {
  display: grid;
  min-height: 300vh;

  grid-template-areas:
    "header header"
    "main main"
    "section section"
    "footer footer";
  grid-template-columns: auto(1fr);
  grid-template-rows: 10vh 8fr 5fr 1fr;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  stroke: black 1px;
}

main {
  grid-area: main;
  display: flex;
  background-color: green;
  box-sizing: border-box;
}

section {
  grid-area: section;
  display: flex;
  background-color: red;
  box-sizing: border-box;
}

footer {
  grid-area: footer;
  display: flex;
  background-color: yellow;
  box-sizing: border-box;
}
