.mainImage {
  display: flex;
  flex: 0 0 50vw;
  align-self: flex-end;
  max-width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 2vw;
}

.mainText {
  align-self: center;
  padding-left: 1.5vw;
  font-size: inherit;
}

.mainText h1 {
  font-weight: 300;
  font-size: 8vh;
}

.mainText h2 {
  font-weight: 100;
}

.buttonStyle {
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 2em;
  border: 2px solid transparent;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonStyle:hover {
  background-color: white;
  color: black;
  border-color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
