@font-face {
  font-family: "PontanoSans";
  src: url(/misc/Fonts/PontanoSans/PontanoSans-VariableFont_wght.ttf);
}

html {
  font-family: "PontanoSans";
}

body {
  margin: 0;
  padding: 0;
}

.header-left {
  font-size: 100%;
}

.header-right {
  font-size: 10%;
}
